# Ignore compiled files and build outputs
target/
*.class
*.war

# Ignore dependencies in WEB-INF/lib (managed by Maven)
src/main/webapp/WEB-INF/lib/*.jar

# Ignore IDE and Eclipse-specific files
.settings/
.project
.classpath
#.m2e-wtp/
maven-archiver/
maven-status/
maven/

# Ignore logs and temp files
#*.log
#*.tmp

